@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.restaurantItem {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.restaurantItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.restaurantItem:hover .image {
  transform: scale(1.1);
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-left {
  text-align: left;
}

.restaurant-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.restaurant-foodType {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
}

.bg-success {
  display: flex !important;
  align-items: center !important;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

/* .mt-1 {
  margin-top: 0.25rem;
}

.mb-0 {
  margin-bottom: 0;
} */
